* {
    box-sizing: border-box;
  }
  
  .contactContainer{
    background-color: lightgrey;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
  }

  .row{
    margin-left: 10px;
  }

  .fa{
    margin-right: 15px;

  }

  #contact{
    font-size: 25px;
    margin-bottom: 25px;
  }
  
  .far{
    size: 50px;
  }


  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 576px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  